/* MAIN CSS */

* {
    box-sizing: border-box;
}


header {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: #b7410e;
    margin: none;
    padding: 4%;
    padding-bottom: 0;
}


h1 {
    font-size: 30px;
    /* text-align: center; */
    /* padding-left: 4%; */
    /* padding-top: 4%; */
}


h2 {
    text-align: center;
    font-weight: bolder;
    color: #b7410e;

    /* for media query */
    /* text-indent: 25px; */


    letter-spacing: .1em;
    text-shadow: 2px 2px lightgrey;
    text-transform: uppercase;
    padding-top: .5em;
    padding-bottom: .5em;

    /* STYLE FOR LARGER SCREENS */
    /* border-bottom: 2px solid lightgrey;
    border-bottom-left-radius: 2em;
    border-bottom-width: 50%;
    max-width: 900px; */
}

li {
    display: inline;
}

ul {
    padding-left: 0;
}

p {
    text-indent: 25px;
    padding-right: 5%;
    padding-left: 5%;
    line-height: 200%;
    font-size: 80%;
}

img {
    /* float: right; */
    border: solid 1px gray;
    padding: 5px;
    display: block;
    margin: 0px auto;
}




/* CLASS IDENTIFIERS */

.parent-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 0;
    /* margin: 5% 10% 5% 10%; */
}

.parent-wrapper a {
    flex-direction: column;

}

.title-container {
    display: flex;

}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img.align-center {
    display: block;
    margin: 0px auto;

}

/* CLEARFIX IMAGE IN CONTAINER */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.topnav {
    padding: 1%;
    text-align: center;
}
/* EMAIL REQUEST */
.request {
    color: white;
    background-color: #b7410e;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.request a {
    color: white;
}

.request a:hover {
    text-decoration: none;
}

.request:hover {
    background-color: #d65720;
}

        /* NAVIGATION */

/* NAV BUTTON STYLE */
.topnav a {
    display: flex;
    align-items: center;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 5px;
  }

/* HOVER OVER BUTTONS */
  .topnav a:hover {
    background-color: #d65720;
    color:white;
  }


  /* ID CLASS - JAVASCRIPT TIMER*/
    /* #timer {


    }

    #fixed-timer {

    } */


  /* MEDIA QUERIES */

/* COMBINE INTO PARENT WRAPPER DON'T BE REDUNDENT */

/* small screens */

@media (min-width: 576px) {
    .title-container {
        text-align: center;
        justify-content: center;
        width: 100%;
    }
    .topnav a {
        display: inline-block;
        text-align: center;
        align-items: center;
        padding-left: 4.5%;
        padding-right: 4.5%;
    }  
    p {
        max-width: 90%;
        font-size: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


/* medium screens */
@media (max-width: 768px) {
    img {
        width: 300px;
        height: 80%;
    }
}

@media (min-width: 992px) {
    h1 {
        text-align: center;
        font-size: 50px;

    }
    
    
    h2 {
        text-align: left;
        text-indent: 30px;
        border-bottom: 2px solid lightgrey;
        border-bottom-left-radius: 2em;
        border-bottom-width: 50%;
        max-width: 900px;
        }
    p {
        max-width: 90%;
        font-size: 120%;
        padding-top: 10px;
        padding-bottom: 10px;

    }

    .topnav
    
    .topnav a {
        padding-right: 12%;
        /* margin-left: 8%; */

    }
}

/* large screens */
@media (min-width: 1200px) {

}